<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
    <table th:if="${cart!=null && cart.getProductMap().size()>0}">
        <thead>
        <h3>Cart List</h3>
        <a th:href="@{/product}">Back to book list.</a>
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Detete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="productMap, status:${cart.productMap}">
            <td th:text="${status.count}"></td>
            <td th:text="${productMap.key.name}"></td>
            <td><img th:src="${productMap.key.image}" style="width: 30px"></td>
            <td th:text="${productMap.key.price}"></td>
            <td>
                <a id="decrease_button" th:href="@{/product/minus/__${productMap.key.id}__(action='show')}"
                   th:text="${'-'}"></a>
                <span th:text="${productMap.value}"></span>
                <a id="increase_button" th:href="@{/product/add/__${productMap.key.id}__(action='show')}"
                   th:text="${'+'}"></a>
            </td>
            <td>
                <a th:href="@{/product/delete/__${productMap.key.getId()}__}" class="btn btn-primary">Delete</a>
            </td>
        </tr>

        </tbody>
    </table>
    <p>Total: </p>
    <p th:text="${cart.countTotalPayment()}"></p>
</div>

</body>
</html>