<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Form</title>
  <style>
    .message {
      color: green;
    }
  </style>
</head>
<body>
<th:block>
  <p class="mess" th:text="${mess}"></p>
</th:block>
<a href="/blog"><button>Back</button></a>
<h2>Update Blog</h2>
<form action="/blog/create" th:object="${blog}" method="post">
  <table>
    <tr>
      <td>Name</td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>
    <tr>
      <td>Time</td>
      <td><input type="date" th:field="*{time}"></td>
    </tr>
    <tr>
      <td>Content</td>
      <td><input type="text" th:field="*{content}"></td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select th:field="*{category}">
          <option th:each="category : ${categories}" th:value="${category.idCategory}"
                  th:text="${category.name}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit">Create</button>
      </td>
    </tr>
  </table>
</form>
</body>
</html>