<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
            width: 40%;
            text-align: center;
        }
        tr, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h2>Detail Product</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Company</th>
    </tr>
    <tr>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.company}"></td>
    </tr>
    <tr th:if="${product == null}">
        <td colspan="8">Danh sách trống</td>
    </tr>
</table>
</body>
</html>