<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<h1 style="text-align: center">Thêm mới phiếu công tác</h1>

<div style="width: 80%; margin-left: auto; margin-right: auto">
    <div style="margin: 5%">
        <form th:action="@{/phieu/create}" method="post" th:object="${phieuDto}">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="validationCustom01" class="form-label">Số PCT</label>
                    <input type="text" class="form-control" id="validationCustom01"
                           aria-describedby="validationCustom011" th:field="*{code}">
                    <div id="validationCustom011" class="form-text" style="color: red"
                         th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></div>
                </div>
                <div class="mb-3">
                    <label for="dateIn1" class="form-label">Ngày bắt đầu</label>
                    <input type="date" class="form-control" id="dateIn1" th:field="*{startDate}">
                    <div id="validationCustom0111" class="form-text" style="color: red"
                         th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
                </div>

                <div class="mb-3">
                    <label for="dateIn1" class="form-label">Ngày kết thúc</label>
                    <input type="date" class="form-control" id="dateIn2" th:field="*{endDate}">
                    <div id="validationCustom01111" class="form-text" style="color: red"
                         th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
                </div>
                <div class="mb-3">
                    <label for="validationCustom02" class="form-label">Người chỉ huy trực tiếp</label>
                    <input type="text" class="form-control" id="validationCustom02"
                           aria-describedby="validationCustom022" th:field="*{captain}">
                    <div id="validationCustom022" class="form-text" style="color: red"
                         th:if="${#fields.hasErrors('captain')}" th:errors="*{captain}"></div>
                </div>
                <div class="mb-3">
                    <label for="validationCustom02" class="form-label">Nhân viên công tác</label>
                    <input type="text" class="form-control" id="validationCustom03"
                           aria-describedby="validationCustom022" th:field="*{employee}">
                    <div id="validationCustom033" class="form-text" style="color: red"
                         th:if="${#fields.hasErrors('employee')}" th:errors="*{employee}"></div>
                </div>

                <label for="validationCustom02" class="form-label">Nội dung công tác</label>
                <input type="text" class="form-control" id="validationCustom05" aria-describedby="validationCustom022"
                       th:field="*{content}">
                <div id="validationCustom055" class="form-text" style="color: red"
                     th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
            </div>
            <div class="mb-3">
                <label for="origin1" class="form-label">Hình thức sửa chữa</label>
                <select class="form-select" id="origin1" aria-label="Default select example" th:field="*{hinhThucSua}">
                    <th:block th:each="type : ${typeEdit}">
                        <option th:value="${type.id}" th:text="${type.name}"></option>
                    </th:block>
                </select>
            </div>

            <div class="modal-footer">
                <a th:href="@{/phieu}" style="margin: 1%" class="btn btn-primary">Trở về</a>
                <button type="submit" style="margin: 1%" class="btn btn-primary">Lưu</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>