<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    table {
      border-collapse: collapse;
      border: 1px solid black;
      width: 100%;
      text-align: center;
    }

    tr, th, td {
      border: 1px solid black;
    }
    .mess{
      color: green;
    }
  </style>

</head>
<body>
<h1 style="text-align: center">Product List</h1>
<a href="/product/create"><button>Create</button></a><br><br>
<form action="/product/search" method="post">
  <input type="text" name="name" placeholder="Let enter product"/>
  <button type="submit">Search</button><br><br>
</form>
<table>
  <tr>
    <th>STT</th>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Company</th>
    <th>Update</th>
    <th>Delete</th>
    <th>Detail</th>
  </tr>
  <tr th:each="product, status:${productList}">
    <td th:text="${status.count}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <td th:text="${product.description}"></td>
    <td th:text="${product.company}"></td>
    <td><a th:href="@{/product/update(id=${product.id})}"><button>Update</button></a></td>
    <td><a th:href="@{/product/delete(id=${product.id})}"><button>Delete</button></a></td>
    <td><a th:href="@{/product/detail/__${product.id}__}"><button>Detail</button></a></td>
  </tr>
</table>
<div class="mess" th:text="${mess}"></div>
</body>
</html>